*{
    margin: 0 auto;
    padding: 0 auto;
    font-family: Avenir, sans-serif;
}

div
{
    color: white;
    (text-align: center;)
}

ul
{
    list-style-type: none;
}

button
{
    padding: 6px;
    background-color: rgb(192, 0, 0);
    border-color: rgb(192, 0, 0);
    border-radius: 10px;
    size: 16px;
}

a
{
    color: white;
}

body
{
    background-image: url(Assets/Background.jpg);
}